<h1>{{localizationService.localized.profilePage.overviewSection.yourProjects}}</h1>
<div *ngIf="projects.length == 0" id="profile-projects-not-available-container">
  <p class="cv-font-size-md">{{localizationService.localized.profilePage.emptyProjectsSection.p1}}</p>
  <p>
    {{localizationService.localized.profilePage.emptyProjectsSection.p2}}
  </p>
  <a class="cv-btn cv-btn-dark cv-btn-edgy cv-margin-sm-r"
     routerLink="/create">{{localizationService.localized.profilePage.emptyProjectsSection.b1}}</a>
</div>
<div *ngIf="projects.length > 0" id="profile-projects-available-container">
  <ul>
    <li *ngFor="let project of projects; let i = index">
      {{  project.id }}  {{  project.title }}  {{  project.reached }}  {{  project.goal }}  {{  project.investedIn }}  {{  project.description }}
    </li>
  </ul>
</div>
