<div style="margin-left: 15px; width: calc(100% - 15px); height: 100%;">
    <h1>Testing ground</h1>

    <h4>Notifcation</h4>
    <alert></alert>
    <button (click)="notification_succ()">Success notification</button>
    <button style="margin-left: 15px;" (click)="notification_info()">Info notification</button>
    <button style="margin-left: 15px;" (click)="notification_error()">Error notification</button>

    <h4>Modal</h4>
    <modal>
      <i image class="fa fa-check-circle-o" style="color: green;" aria-hidden="true"></i>
      <p title style="color: green;"> Success </p>
      <p text> Some Success text over here! </p>
      <div action>
        <button class="ok" (click)="ok()">Ok</button>
        <button class="cls" (click)="cls()">Cls</button>
      </div>
    </modal>
    <button (click)="open_modal()"></button>

    <success-modal></success-modal>
    <button (click)="open_success_modal()"></button>

    <failure-modal></failure-modal>
    <button (click)="open_failure_modal()"></button>
</div>
