@import "../../../../color.scss";

#container {
  background-color: $cv-white;
  padding: 1.5rem 1.75rem;
  border-radius: 8px;

  .title {
    color: $cv-dark;
    font-size: 1rem;
    font-weight: bold;

    &.primary {
      color: $cv-primary;
    }

    &.secondary {
      color: $cv-secondary;
    }

    &.success {
      color: $cv-success;
    }

    &.info {
      color: $cv-info;
    }

    &.warn {
      color: $cv-warn;
    }

    &.danger {
      color: $cv-danger;
    }

    &.light {
      color: $cv-light;
    }

    &.dark {
      color: $cv-dark;
    }

    &.clickable {
      cursor: pointer;

      &:hover {
        color: $cv-primary;
      }
    }
  }

  .sub-title {
    color: lighten($color: $cv-dark, $amount: 10);
    font-size: 0.9rem;
    font-weight: bold;

    &.primary {
      color: $cv-primary;
    }

    &.secondary {
      color: $cv-secondary;
    }

    &.success {
      color: $cv-success;
    }

    &.info {
      color: $cv-info;
    }

    &.warn {
      color: $cv-warn;
    }

    &.danger {
      color: $cv-danger;
    }

    &.light {
      color: $cv-light;
    }

    &.dark {
      color: $cv-dark;
    }
  }
}

.ng {
  height: 100%;
}
