<h1>{{localizationService.localized.profilePage.overviewSection.yourInvestments}}</h1>
<div *ngIf="investments.length == 0" id="profile-investments-not-available-container">
  <p class="cv-font-size-md">{{localizationService.localized.profilePage.emptyInvestmentsSection.p1}}</p>
  <p>
    {{localizationService.localized.profilePage.emptyInvestmentsSection.p2}}
  </p>
</div>
<div *ngIf="investments.length > 0" id="profile-investments-available-container">
  <ul>
    <li *ngFor="let investment of investments; let i = index">
      {{  investment.id }}  {{  investment.investment }}  {{  investment.projectId }}
    </li>
  </ul>
</div>
