@import "../../../../../color.scss";
@import "../../../../../variable.scss";

nav {
  .section {
    padding-left: 10%;
    padding-right: 10%;

    height: $navbar-height;

    &.upper {
      background-color: $cv-primary;
    }

    &.lower {
      background-color: $cv-white;
    }
  }
}
