<nav>
  <div class="section upper cv-justify-space-between cv-align-center">
    <div> <!-- Left -->
      <img class="cv-brand-smm cv-margin-lg-r" src="../../../assets/img/brand/brand.svg">
      <a class="cv-btn cv-btn-nav active">Home</a>
      <a class="cv-btn cv-btn-nav">Profile</a>
      <a class="cv-btn cv-btn-nav">Help</a>
    </div>
    <div> <!-- Right -->
      Profile
    </div>
  </div>
  <div class="section lower cv-justify-space-between cv-align-center">
    <div> <!-- Left -->
      <a class="cv-btn cv-btn-nav-section active">Dashboard</a>
      <a class="cv-btn cv-btn-nav-section">Project</a>
    </div>
    <div> <!-- Right -->
      Profile
    </div>
  </div>
</nav>

