<div class="cv-text-center">
  <img class="cv-img-md" src="../../../assets/img/login/undraw_Mail_sent_qwwx.svg" alt="">
  <h3 class="cv-margin-md-t">Dein Login-Link wird zugestellt!</h3>
  <div class="cv-message-container display cv-margin-lg-t">
    <p class="cv-message-dark cv-font-size-md">Wir haben dir eine E-Mail mit einem Link zur Bestätigung geschickt.</p>
  </div>
  <div class="cv-message-container display">
    <p class="cv-message-dark cv-font-size-md">Wenn du die E-Mail nicht finden kannst, überprüfe bitte deinen Spam-Ordner.</p>
  </div>
  <button class="cv-btn cv-btn-edgy cv-btn-dark" (click)="enterManually()">
    Manuell eingeben
  </button>
</div>
