<div class="cv-text-center">
  <img class="cv-img-md" src="../../../assets/img/login/undraw_Mail_sent_qwwx.svg" alt="">
  <h3 class="cv-margin-md-t">{{localizationService.localized.loginPage.sentSection.headline}}</h3>
  <div class="cv-message-container display cv-margin-lg-t">
    <p class="cv-message-dark cv-font-size-md">{{localizationService.localized.loginPage.sentSection.sentText}}</p>
  </div>
  <div class="cv-message-container display">
    <p class="cv-message-dark cv-font-size-md">{{localizationService.localized.loginPage.sentSection.spamText}}</p>
  </div>
  <button class="cv-btn cv-btn-edgy cv-btn-dark" (click)="enterManually()">
    {{localizationService.localized.loginPage.sentSection.buttonManually}}
  </button>
</div>
