<mat-card class="dashboard-project-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{project.title}}</mat-card-title>
  </mat-card-header>
  <img *ngIf="project.image" [src]="trustUrl(project.image)" alt="project-image" mat-card-image>
  <img *ngIf="!project.image" alt="project-image" mat-card-image src="../../../../assets/img/missing.png">
  <mat-card-content>
    <span>
      {{project.description}}
    </span>
  </mat-card-content>
  <mat-card-actions>
    <div id="raised-goal-container">
      <div id="raised-container">
              <span id="raised">Raised:
                <monetary-units [value]="project.investedIn"></monetary-units>
              </span>
      </div>
      <div id="goal-container">
              <span id="goal">Goal:
                <monetary-units [value]='project.goal'></monetary-units>
              </span>
      </div>
    </div>
    <mat-progress-bar [value]="((project.investedIn / project.goal) * 100)" color="primary" mode="determinate"
                      value="40"></mat-progress-bar>
  </mat-card-actions>
</mat-card>
