<div>
  <h1 class="cv-margin-md-b">{{localizationService.localized.loginPage.inputSection.headline}}</h1>
  <div
    class="cv-form cv-form-edgy cv-textfield-outline cv-margin-sm-b"
    [ngClass]="{
      'valid': emailValidity.isDirty() && emailValidity.isTrue(),
      'invalid': emailValidity.isDirty() && emailValidity.isFalse()
      }"
  >
    <label>{{localizationService.localized.loginPage.inputSection.textfieldEmailLabel}}</label>
    <input #textfieldEmail type="email" placeholder="joe@email.net" required [debounce]="500" (onDebounce)="onEmailChange()" />
    <div class="cv-message-container" [ngClass]="{'display': emailValidity.isDirty() && emailValidity.isFalse()}">
      <span class="cv-message-danger cv-font-size-sm">{{localizationService.localized.loginPage.inputSection.textfieldEmailErrorMsg}}</span>
    </div>
  </div>
  <div class="cv-switch">
    <label>{{localizationService.localized.loginPage.inputSection.rememberLabel}}</label>
    <input #checkboxSave type="checkbox"/>
  </div>
  <button id="buttonSend" class="cv-btn cv-btn-full cv-btn-dark cv-btn-edgy margin-md-b" [throttle]="1000" (onThrottle)="sendEmail()">
    {{localizationService.localized.loginPage.inputSection.buttonSend}}
  </button>
  <div *ngIf="httpError != undefined" class="cv-message-container display cv-margin-lg-t">
    <p class="cv-message-danger cv-font-size-sm">
      {{localizationService.localized.loginPage.inputSection.error}} Error: {{httpError.status}} {{httpError.error}}
    </p>
  </div>
  <div class="cv-message-container display cv-margin-lg-t">
    <p class="cv-message-dark cv-font-size-sm">
      {{localizationService.localized.loginPage.inputSection.legalTextBeforeTerms}}
      <a target="_blank" [href]="'https://policies.google.com/terms?hl=' + localizationService.getCurrentLocalization()">
        {{localizationService.localized.legal.terms}}
      </a>
      {{localizationService.localized.loginPage.inputSection.legalTextAfterTerms}}
      <a target="_blank" [href]="'https://policies.google.com/privacy?hl=' + localizationService.getCurrentLocalization()">
        {{localizationService.localized.legal.privacy}}
      </a>
      {{localizationService.localized.loginPage.inputSection.legalTextAfterPrivacy}}
    </p>
  </div>
  <!--
  <div class="cv-message-container display">
    <p class="cv-message-dark cv-font-size-sm">
      {{localizationService.localized.loginPage.inputSection.reCapLegalTextBeforeTerms}}
      <a target="_blank" [href]="'https://policies.google.com/terms?hl=' + localizationService.getCurrentLocalization()">
        {{localizationService.localized.legal.terms}}
      </a>
      {{localizationService.localized.loginPage.inputSection.reCapLegalTextAfterTerms}}
      <a target="_blank" [href]="'https://policies.google.com/privacy?hl=' + localizationService.getCurrentLocalization()">
        {{localizationService.localized.legal.privacy}}
      </a>
      {{localizationService.localized.loginPage.inputSection.reCapLegalTextAfterPrivacy}}
    </p>
  </div>
  -->
</div>
