<h1>Inputs</h1>

<h4>Button</h4>
<h5>Simple</h5>
<button-simple label="Blue theme" theme="custom" (onClick)="onClick()"></button-simple>
<button-simple style="margin-left: 15px;" label="blue-outline theme" theme="custom-outline" (onClick)="onClick()"></button-simple>
<button-simple style="margin-left: 15px;" label="gray theme" theme="gray" (onClick)="onClick()"></button-simple>
<button-simple style="margin-left: 15px;" label="gray-outline theme" theme="gray-outline" (onClick)="onClick()"></button-simple>

<h4>Textfieds</h4>
<h5>Currency</h5>
<input-currency (changeListener)="changeListener($event)"></input-currency>