// Static
$success-side: rgba(66, 168, 95);
$success-bg: rgba(104, 205, 134);

$info-side: rgba(244, 138, 6);
$info-bg: rgba(255, 182, 72);

$error-side: rgba(184, 46, 36);
$error-bg: rgba(229, 77, 66);

// Notification
$notification-height: 100px;
$notification-width: 300px;
$notification-hline: 15px;
$notification-margin: 1%;
$notification-text-color: white;