<div id="container">
  <div class="mr-2">
    <card [height]="'400px'" [width]="'350px'">
      <div id="card-container">
        <div id="img-container" class="text-center">
          <img [src]="trustUrl(project.image)" alt="project-image">
        </div>
        <div>
          <p id="title">{{project.title}}</p>
          <p id="description">{{project.description | shrink: "200"}}</p>
        </div>
        <div>
          <div id="raised-goal-container">
            <div id="raised-container">
              <span id="raised">Raised:
                <monetary-units [value]="project.investedIn"></monetary-units>
              </span>
            </div>
            <div id="goal-container">
              <span id="goal">Goal:
                <monetary-units [value]='project.goal'></monetary-units>
              </span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="((project.investedIn / project.goal) * 100)">{{((project.investedIn / project.goal) * 100) | number : '1.2-2'}}%
          </div>
        </div>
        </div>
      </div>
    </card>
  </div>
</div>
