<div class="container">
  <h1>
    Element overview
  </h1>

  <div>
    <br>
    <hr>
    <!-- Heading -->
    <!-- Heading -->
    <!-- Heading -->
    <!-- Heading -->
    <!-- Heading -->
    <h3>Heading</h3>
    <h1 class="cv-h1">h1 header</h1>
    <h2 class="cv-h2">h2 header</h2>
    <h3 class="cv-h3">h3 header</h3>
    <h4 class="cv-h4">h4 header</h4>
    <h5 class="cv-h5">h5 header</h5>
    <h6 class="cv-h6">h6 header</h6>



    <br>
    <hr>
    <!-- Font and Text -->
    <!-- Font and Text -->
    <!-- Font and Text -->
    <!-- Font and Text -->
    <!-- Font and Text -->
    <h3>
      Font and Text
    </h3>
    <div>
      <p class="cv-font-size-sm">cv-font-size-sm</p>
      <p class="cv-font-size-md">cv-font-size-md</p>
      <p class="cv-font-size-lg">cv-font-size-lg</p>
      <p class="cv-text-uppercase">cv-text-uppercase</p>
      <p class="cv-text-lowercase">cv-text-lowercase</p>
      <p class="cv-text-center">cv-text-center</p>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-primary">.cv-text-message-container .cv-text-primary</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-secondary">.cv-text-message-container .cv-text-secondary</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-info">.cv-text-message-container .cv-text-info</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-warn">.cv-text-message-container .cv-text-warn</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-light">.cv-text-message-container .cv-text-light</div>
    </div>
    <div class="cv-message-container display">
      <div class="cv-message-dark">.cv-text-message-container .cv-text-dark</div>
    </div>



    <br>
    <hr>
    <!-- Spacing -->
    <!-- Spacing -->
    <!-- Spacing -->
    <!-- Spacing -->
    <!-- Spacing -->
    <h3>
      Spacing
    </h3>
    <div>
      <span style="background-color: pink;" class="cv-margin-sm-r">margin-sm</span>
      <span style="background-color: pink;" class="cv-margin-md-r">margin-md</span>
      <span style="background-color: pink;" class="cv-margin-lg-r">margin-lg</span>
    </div>



    <br>
    <hr>
    <!-- Button -->
    <!-- Button -->
    <!-- Button -->
    <!-- Button -->
    <!-- Button -->
    <h3>
      Button
    </h3>
    <div>
      <button class="cv-btn cv-margin-sm-r">cv-btn</button>
      <button class="cv-btn cv-btn-primary cv-margin-sm-r">cv-btn-primary</button>
      <button class="cv-btn cv-btn-secondary cv-margin-sm-r">cv-btn-secondary</button>
      <button class="cv-btn cv-btn-success cv-margin-sm-r">cv-btn-success</button>
      <button class="cv-btn cv-btn-info cv-margin-sm-r">cv-btn-info</button>
      <button class="cv-btn cv-btn-warn cv-margin-sm-r">cv-btn-warn</button>
      <button class="cv-btn cv-btn-danger cv-margin-sm-r">cv-btn-danger</button>
      <button class="cv-btn cv-btn-light cv-margin-sm-r">cv-btn-light</button>
      <button class="cv-btn cv-btn-dark cv-margin-sm-r">cv-btn-dark</button>
    </div>


    <br>
    <hr>
    <!-- Links -->
    <!-- Links -->
    <!-- Links -->
    <!-- Links -->
    <!-- Links -->
    <h3>
      Button Links
    </h3>
    <div>
      <a class="cv-btn cv-margin-sm-r">cv-btn</a>
      <a class="cv-btn cv-btn-primary cv-margin-sm-r">cv-btn-primary</a>
      <a class="cv-btn cv-btn-secondary cv-margin-sm-r">cv-btn-secondary</a>
      <a class="cv-btn cv-btn-success cv-margin-sm-r">cv-btn-success</a>
      <a class="cv-btn cv-btn-info cv-margin-sm-r">cv-btn-info</a>
      <a class="cv-btn cv-btn-warn cv-margin-sm-r">cv-btn-warn</a>
      <a class="cv-btn cv-btn-danger cv-margin-sm-r">cv-btn-danger</a>
      <a class="cv-btn cv-btn-light cv-margin-sm-r">cv-btn-light</a>
      <a class="cv-btn cv-btn-dark cv-margin-sm-r">cv-btn-dark</a>
    </div>



    <br>
    <hr>
    <!-- Button Outline -->
    <!-- Button Outline -->
    <!-- Button Outline -->
    <!-- Button Outline -->
    <!-- Button Outline -->
    <h3>
      Button Outline
    </h3>
    <div>
      <button class="cv-btn cv-btn-primary cv-btn-outline cv-margin-sm-r">cv-btn-primary</button>
      <button class="cv-btn cv-btn-secondary cv-btn-outline cv-margin-sm-r">cv-btn-secondary</button>
      <button class="cv-btn cv-btn-success cv-btn-outline cv-margin-sm-r">cv-btn-success</button>
      <button class="cv-btn cv-btn-info cv-btn-outline cv-margin-sm-r">cv-btn-info</button>
      <button class="cv-btn cv-btn-warn cv-btn-outline cv-margin-sm-r">cv-btn-warn</button>
      <button class="cv-btn cv-btn-danger cv-btn-outline cv-margin-sm-r">cv-btn-danger</button>
      <button class="cv-btn cv-btn-light cv-btn-outline cv-margin-sm-r">cv-btn-light</button>
      <button class="cv-btn cv-btn-dark cv-btn-outline cv-margin-sm-r">cv-btn-dark</button>
    </div>



    <br>
    <hr>
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <h3>
      Button Edgy
    </h3>
    <div>
      <button class="cv-btn cv-btn-primary cv-btn-edgy cv-margin-sm-r">cv-btn-primary</button>
      <button class="cv-btn cv-btn-secondary cv-btn-edgy cv-margin-sm-r">cv-btn-secondary</button>
      <button class="cv-btn cv-btn-success cv-btn-edgy cv-margin-sm-r">cv-btn-success</button>
      <button class="cv-btn cv-btn-info cv-btn-edgy cv-margin-sm-r">cv-btn-info</button>
      <button class="cv-btn cv-btn-warn cv-btn-edgy cv-margin-sm-r">cv-btn-warn</button>
      <button class="cv-btn cv-btn-danger cv-btn-edgy cv-margin-sm-r">cv-btn-danger</button>
      <button class="cv-btn cv-btn-light cv-btn-edgy cv-margin-sm-r">cv-btn-light</button>
      <button class="cv-btn cv-btn-dark cv-btn-edgy cv-margin-sm-r">cv-btn-dark</button>
    </div>



    <br>
    <hr>
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <!-- Button Edgy -->
    <h3>
      Button Edgy Outline
    </h3>
    <div>
      <button class="cv-btn cv-btn-primary cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-primary</button>
      <button class="cv-btn cv-btn-secondary cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-secondary</button>
      <button class="cv-btn cv-btn-success cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-success</button>
      <button class="cv-btn cv-btn-info cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-info</button>
      <button class="cv-btn cv-btn-warn cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-warn</button>
      <button class="cv-btn cv-btn-danger cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-danger</button>
      <button class="cv-btn cv-btn-light cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-light</button>
      <button class="cv-btn cv-btn-dark cv-btn-edgy cv-btn-outline cv-margin-sm-r">cv-btn-dark</button>
    </div>



    <br>
    <hr>
    <!-- Textfield -->
    <!-- Textfield -->
    <!-- Textfield -->
    <!-- Textfield -->
    <!-- Textfield -->
    <h3>
      Textfield
    </h3>
    <div>
      <div class="cv-form cv-textfield">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-textfield valid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-textfield invalid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>



    <br>
    <hr>
    <!-- Textfield Edgy -->
    <!-- Textfield Edgy -->
    <!-- Textfield Edgy -->
    <!-- Textfield Edgy -->
    <!-- Textfield Edgy -->
    <h3>
      Textfield Edgy
    </h3>
    <div>
      <div class="cv-form cv-textfield cv-form-edgy">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-textfield cv-form-edgy valid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-textfield cv-form-edgy invalid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>


    <br>
    <hr>
    <!-- Textfield Outline-->
    <!-- Textfield Outline-->
    <!-- Textfield Outline-->
    <!-- Textfield Outline-->
    <!-- Textfield Outline-->
    <h3>
      Textfield Outline
    </h3>
    <div>
      <div class="cv-form cv-textfield-outline">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-textfield-outline valid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-textfield-outline invalid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>


    <br>
    <hr>
    <!-- Textfield Outline Edgy -->
    <!-- Textfield Outline Edgy -->
    <!-- Textfield Outline Edgy -->
    <!-- Textfield Outline Edgy -->
    <!-- Textfield Outline Edgy -->
    <h3>
      Textfield Outline Edgy
    </h3>
    <div>
      <div class="cv-form cv-textfield-outline cv-form-edgy">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-textfield-outline cv-form-edgy valid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-textfield-outline cv-form-edgy invalid">
        <label>Short Label</label>
        <input type="text" name="textInput" placeholder="cv-textfield" required>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>


    <br>
    <hr>
    <!-- Dropdown -->
    <!-- Dropdown -->
    <!-- Dropdown -->
    <!-- Dropdown -->
    <!-- Dropdown -->
    <h3>
      Dropdown
    </h3>
    <div>
      <div class="cv-form cv-dropdown">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-dropdown valid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-dropdown invalid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>




    <br>
    <hr>
    <!-- Dropdown Edgy -->
    <!-- Dropdown Edgy -->
    <!-- Dropdown Edgy -->
    <!-- Dropdown Edgy -->
    <!-- Dropdown Edgy -->
    <h3>
      Dropdown Edgy
    </h3>
    <div>
      <div class="cv-form cv-dropdown cv-form-edgy">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-dropdown cv-form-edgy valid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-dropdown cv-form-edgy invalid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>



    <br>
    <hr>
    <!-- Dropdown Outline -->
    <!-- Dropdown Outline -->
    <!-- Dropdown Outline -->
    <!-- Dropdown Outline -->
    <!-- Dropdown Outline -->
    <h3>
      Dropdown Outline
    </h3>
    <div>
      <div class="cv-form cv-dropdown-outline">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-dropdown-outline valid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-dropdown-outline invalid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>



    <br>
    <hr>
    <!-- Dropdown Outline Edgy -->
    <!-- Dropdown Outline Edgy -->
    <!-- Dropdown Outline Edgy -->
    <!-- Dropdown Outline Edgy -->
    <!-- Dropdown Outline Edgy -->
    <h3>
      Dropdown Outline Edgy
    </h3>
    <div>
      <div class="cv-form cv-dropdown-outline cv-form-edgy">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>

      <div class="cv-form cv-dropdown-outline cv-form-edgy valid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-success">.cv-text-message-container .cv-text-success</div>
      </div>

      <div class="cv-form cv-dropdown-outline cv-form-edgy invalid">
        <label>Short Label</label>
        <select name="dropdown" id="dropdown">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
        </select>
        <span>Longer Label with a clearer description</span>
      </div>
      <div class="cv-message-container display">
        <div class="cv-message-danger">.cv-text-message-container .cv-text-danger</div>
      </div>
    </div>
  </div>
</div>
