<button id="buttonChooseDE" class="cv-btn cv-btn-full cv-btn-edgy cv-btn-light cv-margin-md-b cv-justify-space-between" (click)="chooseDE()">
  <span>{{localizationService.localized}}</span>
  <div style="height: 100%;">
    <span class="cv-flag cv-flag-sm cv-flag-de-DE"></span>
  </div>
</button>
<button id="buttonChooseEN" class="cv-btn cv-btn-full cv-btn-edgy cv-btn-light cv-justify-space-between" (click)="chooseEN()">
  <span>{{localizationService.localized}}</span>
  <div style="height: 100%;">
    <span class="cv-flag cv-flag-sm cv-flag-en-EN"></span>
  </div>
</button>
