@import '../../../variables.scss';

.container {
    height: $notification-height;
    width: $notification-width;

    display: flex;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .hline {
        width: $notification-hline;
        height: 100%;
    }

    .content {
        width: $notification-width - $notification-hline;
        height: 100%;

        .title {
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;

            font-size: 1.05rem;
            color: $notification-text-color;
        }

        .time {
            margin-top: -15px;
            margin-left: 5px;
            margin-right: 5px;

            font-size: 1rem;
            color: $notification-text-color;
        }

        .text {
            margin-top: -5px;
            margin-left: 5px;
            margin-right: 5px;

            font-size: 1rem;
            color: $notification-text-color;
        }
    }
}

.hide {
    position: absolute;
    bottom: $notification-margin;
    right: -$notification-width;
}

.show {
    position: absolute;
    bottom: $notification-margin;
    right: $notification-margin;
}

.success {
    .hline { background-color: $success-side; }
    .content { background-color: $success-bg; }
}

.info {
    .hline { background-color: $info-side; }
    .content { background-color: $info-bg; }
}

.error {
    .hline { background-color: $error-side; }
    .content { background-color: $error-bg; }
}