.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-x: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#path-container {
  margin-top: -10px;
}
