.ui {

    height: 35px;

    display: inline-flex;

    border: thin solid #E8E8E8;
    border-radius: 3px;

    input {
        width: 150px;
        height: calc(100% - 2px);
        
        border: #E8E8E8;
        border-radius: 2px;

        padding-left: 15px;
        padding-right: 5px;

        color: rgba(30, 30, 30, 0.7);
    }

    div {
        width: 35px;
        height: 100%;

        background-color: #E8E8E8;

        text-align: center;
        margin-left: 1px;

        label {
            position: relative;
            top: 25%;

            color: rgba(30, 30, 30, 0.7);
            font-weight: bold;
        }
    }
}