$cv-white: rgb(255, 255, 255);
$cv-black: rgb(0, 0, 0);
$cv-gray: rgb(181, 181, 181);

$cv-primary: rgb(35, 149, 255);
$cv-secondary: rgb(243, 243, 243);
$cv-success: rgb(24, 197, 139);
$cv-info: rgb(95, 164, 255);
$cv-warn: rgb(255, 182, 10);
$cv-danger: rgb(243, 57, 81);
$cv-light: rgb(243, 245, 249);
$cv-dark: rgb(53, 77, 91);

$cv-backup-blue: rgb(53, 107, 255);


