$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(181, 181, 181);

$primary: rgb(35, 149, 255);
$secondary: rgb(243, 243, 243);
$success: rgb(33, 223, 43);
$info: rgb(95, 164, 255);
$warn: rgb(255, 182, 10);
$danger: rgb(243, 57, 81);
$light: rgb(243, 245, 249);
$dark: rgb(53, 77, 91);

$backup-blue: rgb(53, 107, 255);
