@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

@import 'variable.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-sub;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  min-height: 50px;
  max-height: 50px;
  background-color: rgba(0,0,0,0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  border-radius: 100px;
}
