/******************

  external imports
  external imports
  external imports
  external imports
  external imports
  external imports

*******************/



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



/******************

  local imports
  local imports
  local imports
  local imports
  local imports
  local imports

*******************/



@import 'variable.scss';
@import 'color.scss';
@import 'image.scss';



/******************

  guidelines
  guidelines
  guidelines
  guidelines
  guidelines
  guidelines

*******************/



/*

${classname | element} {
  ${size settings}
  ${spacing}
  ${positioning}
  ${color}
  ${text settings}
  ${spezial}
}

*/



/******************

  default
  default
  default
  default
  default
  default

*******************/


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', 'Roboto', sans-serif;
  background-color: $secondary;
}



/******************

  default
  default
  default
  default
  default
  default

*******************/



.display-hidden {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.flex-col {
  flex-direction: column;
}



/******************

  container
  container
  container
  container
  container
  container

*******************/



.cv-container-full {
  height: 100vh;
  width: 100vw;
}

.cv-container-full-perc {
  height: 100%;
  width: 100%;
}




/******************

  background
  background
  background
  background
  background
  background

*******************/



.cv-background-full {
  height: 100vh;
  width: 100vw;
}


.cv-background-gradient {
  background: rgb(106,114,217);
  background: linear-gradient(57deg, rgba(106,114,217,1) 0%, rgba(116,83,176,1) 100%);
}

.cv-background-wave {
  background: $bg-wave no-repeat;
}

.cv-background-bubble {
  background: $bg-bubble;
  background-size: cover;
}


/******************

  positioning
  Positioning
  positioning
  positioning
  Positioning
  positioning

*******************/



.cv-center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cv-center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cv-center-xy {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cv-justify-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cv-justify-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cv-justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cv-justify-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv-justify-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cv-text-center {
  text-align: center;
}

/******************

  padding
  padding
  padding
  padding
  padding
  padding

*******************/



.cv-padding-sm {
  padding: $spacing-sm $spacing-sm $spacing-sm $spacing-sm;
}

.cv-padding-md {
  padding: $spacing-md $spacing-md $spacing-md $spacing-md;
}

.cv-padding-lg {
  padding: $spacing-lg $spacing-lg $spacing-lg $spacing-lg;
}




.cv-padding-sm-r {
  padding-right: $spacing-sm;
}

.cv-padding-md-r {
  padding-right: $spacing-md;
}

.cv-padding-lg-r {
  padding-right: $spacing-lg;
}



.cv-padding-sm-l {
  padding-left: $spacing-sm;
}

.cv-padding-md-l {
  padding-left: $spacing-md;
}

.cv-padding-lg-l {
  padding-left: $spacing-lg;
}



.cv-padding-sm-t {
  padding-top: $spacing-sm;
}

.cv-padding-md-t {
  padding-top: $spacing-md;
}

.cv-padding-lg-t {
  padding-top: $spacing-lg;
}



.cv-padding-sm-b {
  padding-bottom: $spacing-sm;
}

.cv-padding-md-b {
  padding-bottom: $spacing-md;
}

.cv-padding-lg-b {
  padding-bottom: $spacing-lg;
}




/******************

  margin
  margin
  margin
  margin
  margin
  margin

*******************/




.cv-margin-sm {
  margin: $spacing-sm $spacing-sm $spacing-sm $spacing-sm;
}

.cv-margin-md {
  margin: $spacing-md $spacing-md $spacing-md $spacing-md;
}

.cv-margin-lg {
  margin: $spacing-lg $spacing-lg $spacing-lg $spacing-lg;
}



.cv-margin-sm-r {
  margin-right: $spacing-sm;
}

.cv-margin-md-r {
  margin-right: $spacing-md;
}

.cv-margin-lg-r {
  margin-right: $spacing-lg;
}



.cv-margin-sm-l {
  margin-left: $spacing-sm;
}

.cv-margin-md-l {
  margin-left: $spacing-md;
}

.cv-margin-lg-l {
  margin-left: $spacing-lg;
}



.cv-margin-sm-t {
  margin-top: $spacing-sm;
}

.cv-margin-md-t {
  margin-top: $spacing-md;
}

.cv-margin-lg-t {
  margin-top: $spacing-lg;
}



.cv-margin-sm-b {
  margin-bottom: $spacing-sm;
}

.cv-margin-md-b {
  margin-bottom: $spacing-md;
}

.cv-margin-lg-b {
  margin-bottom: $spacing-lg;
}



/******************

  transition
  transition
  transition
  transition
  transition
  transition

*******************/



.cv-transition-sh {
  -webkit-transition: all $transition-sh ease-in-out;
  -moz-transition: all $transition-sh ease-in-out;
  -o-transition: all $transition-sh ease-in-out;
  -ms-transition: all $transition-sh ease-in-out;
  transition: all $transition-sh ease-in-out;
}

.cv-transition-md {
  -webkit-transition: all $transition-md ease-in-out;
  -moz-transition: all $transition-md ease-in-out;
  -o-transition: all $transition-md ease-in-out;
  -ms-transition: all $transition-md ease-in-out;
  transition: all $transition-md ease-in-out;
}

.cv-transition-ln {
  -webkit-transition: all $transition-ln ease-in-out;
  -moz-transition: all $transition-ln ease-in-out;
  -o-transition: all $transition-ln ease-in-out;
  -ms-transition: all $transition-ln ease-in-out;
  transition: all $transition-ln ease-in-out;
}



/******************

  font
  font
  font
  font
  font
  font

*******************/



.cv-font-size-sm {
  font-size: 14px;
}

.cv-font-size-md {
  font-size: 18px;
}

.cv-font-size-lg {
  font-size: 24px;
}



/******************

  text
  text
  text
  text
  text
  text

*******************/



.cv-text-center {
  text-align: center;
}

.cv-text-uppercase {
  text-transform: uppercase;
}

.cv-text-lowercase {
  text-transform: lowercase;
}



/******************

  message
  message
  message
  message
  message
  message

*******************/



.cv-message-container {
  display: none;

  width: 100%;

  font-size: 13px;

  &.display {
    display: block;
  }

  .cv-message-primary{
    color: $primary;
  }

  .cv-message-secondary{
    color: $secondary;
  }

  .cv-message-success{
    color: $success;
  }

  .cv-message-info{
    color: $info;
  }

  .cv-message-warn{
    color: $warn;
  }

  .cv-message-danger{
    color: $danger;
  }

  .cv-message-light{
    color: $light;
  }

  .cv-message-dark{
    color: $dark;
  }
}



/******************

  header
  header
  header
  header
  header
  header

*******************/



.cv-h1 {
  color: $black;
}

.cv-h2 {
  color: $black;
}

.cv-h3 {
  color: $black;
}

.cv-h4 {
  color: $black;
}

.cv-h5 {
  color: $gray;
}

.cv-h6 {
  color: $gray;
}



/******************

  button
  button
  button
  button
  button
  button

*******************/



.cv-btn {
  padding: 10px 15px 10px 15px;

  background-color: $primary;
  color: $white !important;

  text-align: center;
  text-decoration: none;
  font-size: 1.08rem;
  font-weight: normal;

  border: 0;
  border-radius: 8px;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all $transition-sh ease-in-out;
  -moz-transition: all $transition-sh ease-in-out;
  -o-transition: all $transition-sh ease-in-out;
  -ms-transition: all $transition-sh ease-in-out;
  transition: all $transition-sh ease-in-out;

  &.cv-btn-full {
    width: 100%;
  }

  &:hover, &.active {
    background-color: darken($primary, 10%);
  }

  &:focus {
    background-color: darken($primary, 10%);
    border: 0;
    outline: 0;
  }

  &.cv-btn-edgy {
    border-radius: 0;
  }

  /*********
    primary
    primary
    primary
  **********/
  &.cv-btn-primary {
    color: $white;
    background-color: $primary;

    &:hover, &:focus, &.active {
      background-color: darken($primary, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $primary;
      background-color: transparent;
      color: $primary !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $primary;
      }
    }
  }

  /*********
    secondary
    secondary
    secondary
  **********/
  &.cv-btn-secondary {
    color: $black !important;
    background-color: $secondary;

    &:hover, &:focus, &.active {
      background-color: darken($secondary, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $secondary;
      background-color: transparent;
      color: $secondary !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $secondary;
      }
    }
  }

  /*********
    success
    success
    success
  **********/
  &.cv-btn-success {
    color: $white;
    background-color: $success;

    &:hover, &:focus, &.active {
      background-color: darken($success, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $success;
      background-color: transparent;
      color: $success !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $success;
      }
    }
  }

  /*********
    info
    info
    info
  **********/
  &.cv-btn-info {
    color: $white;
    background-color: $info;

    &:hover, &:focus, &.active {
      background-color: darken($info, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $info;
      background-color: transparent;
      color: $info !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $info;
      }
    }
  }

  /*********
    warn
    warn
    warn
  **********/
  &.cv-btn-warn {
    color: $white;
    background-color: $warn;

    &:hover, &:focus, &.active {
      background-color: darken($warn, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $warn;
      background-color: transparent;
      color: $warn !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $warn;
      }
    }
  }

  /*********
    danger
    danger
    danger
  **********/
  &.cv-btn-danger {
    color: $white;
    background-color: $danger;

    &:hover, &:focus, &.active {
      background-color: darken($danger, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $danger;
      background-color: transparent;
      color: $danger !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $danger;
      }
    }
  }

  /*********
    light
    light
    light
  **********/
  &.cv-btn-light {
    color: $black !important;
    background-color: $light;

    &:hover, &:focus, &.active {
      background-color: darken($light, 10%);
    }

    &.cv-btn-outline {
      //border: 1px solid $light;
      background-color: transparent;
      color: $dark !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $dark;
      }
    }
  }

  /*********
    dark
    dark
    dark
  **********/
  &.cv-btn-dark {
    color: $white;
    background-color: $dark;

    &:hover, &:focus, &.active {
      background-color: darken($dark, 10%);
    }

    &.cv-btn-outline {
      border: 1px solid $dark;
      background-color: transparent;
      color: $dark !important;

      &:hover, &:focus, &.active {
        color: $white !important;
        background-color: $dark;
      }
    }
  }
}



/******************

  form
  form
  form
  form
  form
  form

*******************/



.cv-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.cv-form-edgy {
    input {
      border-radius: 0;
    }

    select {
      border-radius: 0;
    }
  }

  label {
    padding-left: 5px;
  }

  span {
    padding-left: 5px;
    padding-top: 2px;

    color: $gray;

    font-size: 13px;
  }
}



/******************

  textfield
  textfield
  textfield
  textfield
  textfield
  textfield

*******************/



.cv-textfield {
  &.valid {
    input {
      background: $icon-check no-repeat;
      background-size: 30px 30px;
      background-position: 99% 50%;
      background-color: lighten($color: $gray, $amount: 10);
    }
  }

  &.invalid {
    input {
      background: $icon-danger no-repeat;
      background-size: 30px 30px;
      background-position: 99% 50%;
      background-color: lighten($color: $gray, $amount: 10);
    }
  }

  input {
    padding: 8px 12px 8px 12px;
    background-color: lighten($color: $gray, $amount: 10);
    outline: 0;
    border: 0;
    border-radius: 5px;
  }
}


.cv-textfield-outline {
  &.valid {
    input {
      background: $icon-check no-repeat;
      background-size: 30px 30px;
      background-position: 99% 50%;
      background-color: transparent;

      border: 1px solid $success;
    }
  }

  &.invalid {
    input {
      background: $icon-danger no-repeat;
      background-size: 30px 30px;
      background-position: 99% 50%;
      background-color: transparent;

      border: 1px solid $danger;
    }
  }

  input {
    padding: 8px 12px 8px 12px;

    background-color: transparent;

    outline: 0;
    border: 1px solid $gray;
    border-radius: 5px;
  }
}



/******************

  dropdown
  dropdown
  dropdown
  dropdown
  dropdown
  dropdown

*******************/


.cv-dropdown {
  &.valid {
    select {
      background: $icon-check no-repeat;
      background-size: 30px 30px;
      background-position: 98% 50%;
      background-color: lighten($color: $gray, $amount: 10);
    }
  }

  &.invalid {
    select {
      background: $icon-danger no-repeat;
      background-size: 30px 30px;
      background-position: 98% 50%;
      background-color: lighten($color: $gray, $amount: 10);
    }
  }

  select {
    padding: 8px 12px 8px 12px;

    background-color: lighten($color: $gray, $amount: 10);

    outline: 0;
    border: 0;
    border-radius: 5px;

    cursor: pointer;
  }
}


.cv-dropdown-outline {
  &.valid {
    select {
      background: $icon-check no-repeat;
      background-size: 30px 30px;
      background-position: 98% 50%;
      background-color: $white;

      border: 1px solid $success;
    }
  }

  &.invalid {
    select {
      background: $icon-danger no-repeat;
      background-size: 30px 30px;
      background-position: 98% 50%;
      background-color: $white;

      border: 1px solid $danger;
    }
  }

  select {
    padding: 8px 12px 8px 12px;

    background-color: $white;

    outline: 0;
    border: 1px solid $gray;
    border-radius: 5px;

    cursor: pointer;
  }
}



/******************

  checkbox
  checkbox
  checkbox
  checkbox
  checkbox
  checkbox

*******************/



.cv-checkbox {
  input {
    height: 20px;
    width: 20px;

    margin-right: 10px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }

  label {
    position: relative;
    top: -5px;
  }
}

/*
  Thanks to https://codepen.io/rakeizer/pen/QQRBoZ
*/
.cv-switch {

  display: flex;
  justify-content: space-between;

  input {
    height: 20px;
    width: 40px;

    background-color: transparent;

    outline: none;
    border: 1px solid $gray;
    border-radius: 50px;

    box-shadow: inset -20px 0px 0px 0px $danger;

    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;

    -webkit-transition: all $transition-sh ease-in-out;
    -moz-transition: all $transition-sh ease-in-out;
    -o-transition: all $transition-sh ease-in-out;
    -ms-transition: all $transition-sh ease-in-out;
    transition: all $transition-sh ease-in-out;

    &:checked {
      border: 1px solid $success;

      box-shadow: inset 20px 0px 0px 0px $success;
    }
  }

  label {
    position: relative;
    top: -4px;
  }
}



/******************

  radio
  radio
  radio
  radio
  radio
  radio

*******************/



.cv-radio {
  input {
    height: 22px;
    width: 22px;

    margin-right: 10px;
  }

  label {
    position: relative;
    top: -7px;

    margin-right: 10px;
  }
}

.cv-radio-switch {
  input {
    height: 20px;
    width: 40px;

    background-color: transparent;

    outline: none;
    border: 1px solid $gray;
    border-radius: 50px;

    box-shadow: inset -20px 0px 0px 0px $danger;

    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;

    -webkit-transition: all $transition-sh ease-in-out;
    -moz-transition: all $transition-sh ease-in-out;
    -o-transition: all $transition-sh ease-in-out;
    -ms-transition: all $transition-sh ease-in-out;
    transition: all $transition-sh ease-in-out;

    &:checked {
      border: 1px solid $success;

      box-shadow: inset 20px 0px 0px 0px $success;
    }
  }

  label {
    position: relative;
    top: -4px;
    margin-left: 5px;
  }
}



/******************

  badge
  badge
  badge
  badge
  badge
  badge

*******************/


.cv-badge {
  width: 50px;
  height: 50px;

  position: relative;
  top: -10px;
  left: 75%;

  padding: 2px 8px 2px 8px;

  color: $white !important;
  border-radius: 100px;
  background-color: $primary;

  &.cv-badge-edgy {
    border-radius: 0;
  }

  &.cv-badge-primary {
    background-color: $primary;
  }

  &.cv-badge-secondary {
    background-color: $secondary;
    color: $dark !important;
  }

  &.cv-badge-success {
    background-color: $success;
  }

  &.cv-badge-info {
    background-color: $info;
  }

  &.cv-badge-warn {
    background-color: $warn;
  }

  &.cv-badge-danger {
    background-color: $danger;
  }

  &.cv-badge-light {
    background-color: $light;
    color: $dark !important;
  }

  &.cv-badge-dark {
    background-color: $dark;
  }
}



/******************

  image
  image
  image
  image
  image
  image

*******************/



.cv-img-sm {
  max-width: 50px;
  max-height: 50px;
}

.cv-img-md {
  max-width: 100px;
  max-height: 100px;
}

.cv-img-lg {
  max-width: 150px;
  max-height: 150px;
}




/******************

  curser
  curser
  curser
  curser
  curser
  curser

*******************/



.cv-curser-pointer {
  cursor: pointer;
}



/******************

  flag
  flag
  flag
  flag
  flag
  flag

*******************/


.cv-flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  height: 15px;
  width: 25px;

  &.cv-flag-de-DE {
    background: url("assets/flag/de-DE.svg");
  }

  &.cv-flag-en-EN {
    background: url("assets/flag/en-EN.svg");
  }
}
