$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 30px;

$transition-ssh: 0.1s;
$transition-sh: 0.3s;
$transition-md: 0.5s;
$transition-ln: 1s;

$breakpoint-sm: 414px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$navbar-height: 65px;
