$color-main: #fff;
$color-sub: #f3f5f9;

$breakpoint-sm: 600px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1200px;

$offset-left-sm: 10px;
$offset-left-md: 15px;

$sidebar-bg-color: $color-main;
$sidebar-height: 100%;
$sidebar-width: 300px;
$sidebar-width-negative: -300px;
$sidebar-width-collapsed: 0px;

$sidebar-sector-title-size: 16px;
$sidebar-item-size: 18px;
$sidebar-item-icon-size: 18px;

$navbar-bg-color: $color-main;
$navbar-height: 75px;
$navbar-width: 100%;

$wrapper-top-offset: 25px;
$wrapper-left-offset: $sidebar-width;
