<div class="container-fluid">
  <h1 class="mt-5" *ngIf="title">{{title}}</h1>
  <p class="subtitle" *ngIf="subTitle">{{subTitle}}</p>
</div>
<div class="container-fluid">
  <div #wrapper class="wrapper row" [class]="{'cv-scrollbar': displayScrollbar, 'cv-scrollbar-hidden': !displayScrollbar}">
    <ng-content></ng-content>
  </div>
  <button id="btn-scroll-left" [class]="{'hidden': !displayButtonLeft}" (click)="scrollLeft()">
    <i class="fa fa-chevron-left" [class]="color" aria-hidden="true"></i>
  </button>
  <button id="btn-scroll-right" [class]="{'hidden': !displayButtonRight}" (click)="scrollRight()">
    <i class="fa fa-chevron-right" [class]="color" aria-hidden="true"></i>
  </button>
</div>
