<div class="container">
  <h3 class="mt-3">{{localizationService.localized.dashboardPage.hello}}</h3>
  <div id="path-container" class="mb-4">
    <h6>{{localizationService.localized.dashboardPage.welcome}}</h6>
  </div>
  <horizontal-scroller [color]="'dark'" [title]="localizationService.localized.dashboardPage.sectionOne" [displayScrollbar]="false" [scrollStep]="'600'">
    <div class="mb-1" *ngFor="let project of orderClose((projectsObservable | async)) as list; last as isLast">
      <dashboard-project *ngIf="!project.reached" [class]="{'mr-2': !isLast}" [project]="project"></dashboard-project>
    </div>
  </horizontal-scroller>

  <div class="mt-4"></div>
  <horizontal-scroller [color]="'dark'" [title]="localizationService.localized.dashboardPage.sectionTwo" [displayScrollbar]="false" [scrollStep]="'600'">
    <div class="mb-1" *ngFor="let project of orderNewest((projectsObservable | async)) as list; last as isLast">
      <dashboard-project *ngIf="!project.reached" [class]="{'mr-2': !isLast}" [project]="project"></dashboard-project>
    </div>
  </horizontal-scroller>

  <div class="mt-4"></div>
  <horizontal-scroller [color]="'dark'" [title]="localizationService.localized.dashboardPage.sectionThree" [displayScrollbar]="false" [scrollStep]="'600'">
    <div class="mb-1" *ngFor="let project of projectsObservable | async as list; last as isLast">
      <dashboard-project *ngIf="project.reached" [class]="{'mr-2': !isLast}" [project]="project"></dashboard-project>
    </div>
  </horizontal-scroller>

  <div class="mb-4"></div>
</div>
