
@import "../../../../variables.scss";

.btn {
    font-size: 15px;
    font-weight: bold;
    
    border: thin solid $element-border;
    border-radius: 3px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    transition: all 0.3s ease-in-out;
      
    &:active, &:hover, &:focus {
        outline: none;
    }
}

.gray {
    color: $gray-btn-color;
    background-color: $gray-btn-bg;
      
    &:active, &:hover, &:focus {
        background-color: $gray-btn-hover;
    }
}

.gray-outline {
    color: $gray-btn-color-outline;
    background-color: transparent;
    border: thin solid $gray-btn-border-outline;
      
    &:active, &:hover, &:focus {
        background-color: $gray-btn-hover;
        color: $gray-btn-color-hover-outline;
    }
}

.custom {
    color: $custom-btn-color;
    background-color: $custom-btn-bg;
      
    &:active, &:hover, &:focus {
        background-color: $custom-btn-hover;
    }
}

.custom-outline {
    color: $custom-btn-color-outline;
    background-color: transparent;
    border: thin solid $custom-btn-border-outline;
      
    &:active, &:hover, &:focus {
        background-color: $custom-btn-hover;
        color: $custom-btn-color-hover-outline;
    }
}